.btn {
    display: inline-block;
    width: auto;
    padding: 1em;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    text-decoration: none;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.3s;
}
.btn:hover {
    box-shadow: 0 3px 6px #0003;
    opacity: 1;
}