.mouse {
    font-size: 3px;
    width: 10em;
    height: 15em;
    border: 1em solid #fff;
    border-radius: 5em;
    position: relative;
}

.mouse::before {
    content: '';
    display: block;
    width: 1.2em;
    height: 2em;
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform: translate(-50%);
    right: 3.5em;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        top: 2.5em;
    }

    100% {
        top: 9.5em;
    }
}