.container.hero {
    min-height: 100vh;
    background-color: red;
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    height: 30px;
}

.main-title {
    font-size: 65px;
    text-transform: uppercase;
}

.main-description {
    font-size: 22px;
}

.section-title {
    font-size: 18px;
    text-transform: uppercase;
}

.section-description {
    font-size: 16px;
}

.section-description > a {
    text-decoration: none;
    color: var(--secondary-color);
}
.section-description > a:hover {
    text-decoration: underline;
}

footer.container {
    padding-top: 0;
}

.row.socials {
    justify-content: center;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}
.socials > a {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
.socials > a:hover {
    background-color: #fff;
    color: var(--main-color);
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fffc;
}
.bottom > .logo {
    margin-bottom: 40px;
}
.bottom > .trio {
    display: flex;
    gap: 0 20px;
}
.bottom > .trio > p {
    position: relative;
}
.bottom > .trio > p + p::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: 1px;
    left: -11px;
}

.bottom a {
    color: white;
}

@media (max-width: 700px) {
    .main-title {
        font-size: 60px;
    }
}
.bottom > .trio {
    flex-direction: column;
}
.bottom > .trio > p + p::before {
    display: none;
}